.vs
Builder/obj
Builder/bin
ExtensionBuilder/obj
ExtensionBuilder/bin
ChainOfResponsibility/bin
ChainOfResponsibility/obj
Facade/bin
Facade/obj
Singleton/bin
Singleton/obj
Strategy/bin
Strategy/obj
Decorator/bin
Decorator/obj
Command/bin
Command/obj